html,
body {
  font-family: sans-serif;
  overflow-x: hidden;
}

h1,
h2,
#task-input,
#task-button,
#start-button,
#reset-button {
  font-size: 1.5rem;
  font-family: sans-serif;
  font-weight: bold;
}

.main-container {
  padding: 0;
  align-items: center;
}

.buttons-container {
  padding: 0;
  margin: auto;
  justify-content: center;
  display: inline-flex;
  align-items: center;
}

#task-container {
  padding: 0;
  align-items: center;
}

#task-header-container {
  background-color: transparent;
  padding: 0;
  width: 100%;
}

#current-task-container {
  padding: 0;
  align-items: center;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}

#timer h1 {
  font-size: 5rem;
  font-family: sans-serif;
  font-weight: bold;
}

#task-list {
  padding: 10px;
  border-radius: 15px;
}

#alert-div {
  padding: 0;
  align-items: center;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  width: 50%;
}

@media screen and (max-width: 300px) {
  #screen-size-text {
    display: block;
  }

  div {
    display: none;
  }
}

@media all and (min-width: 300px) {
  div,
  #header-div,
  #current-task-div {
    width: 100%;
  }

  .main-container {
    width: 100%;
    height: 70vh;
  }

  .buttons-container,
  #timer-container {
    width: 80%;
  }

  #task-container {
    width: 90%;
    height: 50vh;
  }

  #current-task-container {
    width: 95%;
    height: 22vh;
  }

  #task-list {
    margin: 13rem auto;
    position: inherit;
    width: 95%;
  }

  #task-button {
    padding: 5px;
  }
  #task-header-container h1 {
    font-family: sans-serif;
  }
}

@media screen and (min-width: 700px) {
  #task-container {
    height: 45vh;
  }

  #current-task-container {
    height: 20vh;
  }

  #task-list {
    margin: 12rem auto;
    width: 75%;
  }
  h1 #timer-text {
    font-size: 1rem;
    font-family: sans-serif;
    font-weight: bold;
  }

  #task-header-container h1 {
    font-family: fantasy;
  }
}

@media screen and (min-width: 1000px) {
  .main-container {
    height: 100%;
  }

  #task-container {
    height: 55vh;
  }

  #task-list {
    margin: 20rem auto;
  }
  #task-header-container h1 {
    font-family: fantasy;
  }
}

@media screen and (min-width: 1400px) {
  h1 {
    font-family: "Blippo", fantasy;
    font-style: italic;
  }

  .main-container {
    width: 50%;
    height: 80vh;
  }

  #task-list {
    background-color: transparent;
  }
}

@media (min-aspect-ratio: 2/1) {
  h1 {
    font-family: "Blippo", fantasy;
    font-style: italic;
  }

  .main-container {
    width: 50%;
    height: 80vh;
  }
}
